
/* body section */

body{
  margin:0;
  background-color:whitesmoke;}

/* main header */

 
.main-header {
  padding:5px;
  text-align: center;
  background-color: rgb(27, 99, 158);
  color:rgb(236, 104, 177);

}

/* top navigation bar*/

#topnav {
  overflow: hidden;
  background-color: rgb(110, 106, 106);
}

/* Style the topnav links */

#topnav a {
  float: right;
  display: block;
  font-size: 17px;
  color: rgb(255, 241, 241);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* style color on hover */

#topnav a:hover {
  background-color: rgb(21, 175, 202);
  color: blue;
  font-size: 20px;
  
}

/* style color on active */

#topnav a:active {
  background-color: rgb(27, 99, 158);
  color: rgb(207, 216, 207);
}  

.About-Me {
  font-family:;
  color:black;
  text-align:center;
  padding:10px;
}

.mybio {
  color:black;
  text-align:justify;
  font-size:15px;
  line-height: 1.1;
  letter-spacing: 0.05em;
}



  

